.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 100vh;
  border-right: 1px solid;
  padding-right: 10px;
}

.notes-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding-left: 10px;
  height: 100vh;
}
