<div class="container">
  <div class="editor">
    @if (isEditingTitle) {
    <input
      type="text"
      [(ngModel)]="documentName"
      (ngModelChange)="updateTitle($event)"
      (blur)="toggleTitleView()"
      id="title-editor"
    />
    } @if (!isEditingTitle) {
    <h1 (click)="toggleEditTitle()">{{ documentName() }}</h1>
    } @if (isEditing) {
    <textarea
      [(ngModel)]="markdownContent"
      (ngModelChange)="updateContent($event)"
      (blur)="toggleView()"
      id="markdown-editor"
    ></textarea>
    } @if (!isEditing) {
    <div
      [innerHTML]="markdownContent() | markdown"
      (click)="toggleEdit()"
    ></div>
    }
  </div>
</div>
