<div class="container">
  <div class="editor">
    @if (isEditingTitle) {
    <input
      type="text"
      [(ngModel)]="documentName"
      (ngModelChange)="updateTitle($event)"
      (blur)="toggleTitleView()"
      #titleEditor
      class="noteTitle"
    />
    } @if (!isEditingTitle) {
    <p class="noteTitle" (click)="toggleEditTitle()">{{ documentName() }}</p>
    } @if (isEditing) {
    <textarea
      [(ngModel)]="markdownContent"
      (ngModelChange)="updateContent($event)"
      (blur)="toggleView()"
      #markdownEditor
    ></textarea>
    } @if (!isEditing) {
    <div
      [innerHTML]="markdownContent() | markdown"
      (click)="toggleEdit()"
      class="noteContent"
    ></div>
    }
  </div>
</div>
