<div class="add-note-file">
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="add_circle_outline"
    (click)="createDocument('untitled')"
  ></mat-icon>
</div>
<div
  cdkDropList
  id="all-notes"
  class="note-list"
  (cdkDropListDropped)="drop($event)"
>
  @for (document of this.docService.Documents.notes; track document.index;) {
  <div
    class="note-file"
    cdkDrag
    [routerLink]="[document.id]"
    (contextmenu)="onRightClick($event, document.id)"
  >
    <p class="note-text">{{ document.document_name }}</p>
  </div>
  }
</div>
@if (this.showContextMenu) {
<div
  id="context-menu"
  class="context-menu"
  [style.top.px]="contextMenuPosition.y"
  [style.left.px]="contextMenuPosition.x"
>
  <ul>
    <li (click)="deleteDocument()">Delete</li>
  </ul>
</div>

}
